<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <title>Editar aluno</title>
    <style>
        * {
            margin: 0;
            border: 0;
        }
    </style>
</head>
<nav
    style=" background-color: #4CAF50; height: 50px;width: 100vw; display: flex;position: fixed;top: 0 ; align-items: center;justify-content: space-between; padding: 0 20px; color:white;">
    <a href="/listar-alunos" style="text-decoration: none;color:white;font-size: 25px; margin-left: 5px;">Voltar</a>
</nav>

<body
    style="display: flex;flex-direction: column;justify-content: center;align-items: center; background-color: #f1f1f1; font-family: Arial, sans-serif; padding: 20px;">
    <div style="display: flex; justify-content: center; align-items: center; height: 100vh;flex-direction: column;">
        <h1 style="font-size: 2.5rem; color: #333; margin-bottom: 20px;">Editar Aluno</h1>
        <form action="{{ url_for('editar_aluno', id=id) }}" method="post"
        style="display: flex; flex-direction: column; background-color: #fff; padding: 20px; border-radius: 5px; box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);">
            <label for="matricula" style="font-weight: bold; margin-right: 10px;color: white;"></label>
            <input type="text" id="matricula" name="matricula" value="{{aluno.matricula}}" placeholder="Matrícula"
                style="width: 200px; padding: 5px; border: 1px solid #ccc; border-radius: 4px;"><br>
            <label for="NomeAluno" style="font-weight: bold; margin-right: 10px;color: white;"></label>
            <input type="text" id="NomeAluno" name="NomeAluno" value="{{aluno.NomeAluno}}" placeholder="Nome"
                style="width: 200px; padding: 5px; border: 1px solid #ccc; border-radius: 4px;"><br>
            <input type="submit" value="Confirmar"
                style="padding: 10px 20px; background-color:#4CAF50; color:white; border: none; border-radius: 4px; cursor: pointer;">
        </form>
    </div>
</body>
</html>