<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        * {
            margin: 0;
            border: 0;
        }
        </style>
        <title>logged</title>
</head>
<body style="font-family: Arial, sans-serif; background-color: #f1f1f1; display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100vh;">
    <nav
    style=" background-color: #4CAF50; height: 50px;width: 100vw; display: flex;position: fixed;top: 0 ; align-items: center;justify-content: space-between; padding: 0 20px; color:white;">
    <h1></h1>
    <h1
        style="padding: 10px 20px; color: white; border: none; border-radius: 4px; cursor: pointer ;background-color:#4CAF50;">
        <a href="listar-alunos" style="text-decoration: none; color: white;">Frequência de alunos</a>
    </h1>
    <h1
    style="padding: 10px 20px; color: white; border: none; border-radius: 4px; cursor: pointer ;background-color:#4CAF50;">
    <a href="{{ url_for('logout') }}" style="text-decoration: none; color: white;">Sair</a>
</h1>
    <h1></h1>
</nav>
    <h1>Seja bem vindo(a)</h1>
</body>
</html>