<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        * {
            margin: 0;
            border: 0;
        }
    </style>
    <title>Login</title>
</head>

<body
    style="font-family: Arial, sans-serif; background-color: #f1f1f1; display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100vh;">
    <nav
    style=" background-color: #4CAF50; height: 50px;width: 100vw; display: flex;position: fixed;top: 0 ; align-items: center;justify-content: space-between; padding: 0 20px; color:white;">
    <h1
    style="padding: 10px 20px; color: white; border: none; border-radius: 4px; cursor: pointer ;background-color:#4CAF50;">
    <a href="/"  style="text-decoration: none; color: white;">Voltar</a>
</h1>
</nav>

    <h1 style="font-size: 2.5rem; color: #333;">Login</h1>
    <form action="{{url_for('login')}}" method="post"
        style="display: flex; flex-direction: column; background-color: #fff; padding: 20px; border-radius: 5px; box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);">
        <input type="text" name="username" placeholder="Usuário"
            style="padding: 10px; margin: 5px 0; border: 1px solid #ccc; border-radius: 5px;">
        <input type="password" name="password" placeholder="Senha"
            style="padding: 10px; margin: 5px 0; border: 1px solid #ccc; border-radius: 5px;">
        <input type="submit" value="Entrar"
            style="padding: 10px 20px; background-color: #4CAF50; color: #fff; border: none; border-radius: 5px; cursor: pointer;">
    </form>
    <p style="font-size: 1rem; color: #777; margin-top: 10px;">Não tem uma conta? <a href="{{url_for('register')}}"
            style="color: #4CAF50; text-decoration: none; margin-left: 5px;">Cadastre-se</a></p>
    <footer
        style="display:flex; text-align: center ;position: fixed; bottom: 0; background-color: #4CAF50; width: 100%; align-items: center;">
        <h1 style="text-align: center; width: 100%;font-size: 15px; color: white;">
            Feito com 💙 por Anderson Menezes
        </h1>
    </footer>
</body>

</html>